.container {
    padding: 24px;
    border: red 2px solid;
}


.title {
    font-size: 32px;
    margin-bottom: 24px;
}


.gridCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}


.card {
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}